// Declaring variables

$title1: 5rem;
$title2: 5rem;
$title3: 5rem;
$title4: 5rem;
$title5: 5rem;

$color1: #F7F7F7;
$color2: #21d4c5;
$color3: rgba(200, 203, 206, 0.5);
$color4: rgb(59, 59, 204);

// Declaring functions
@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
  }

//Imports
@import "global";
@import "home";
@import "game";