* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: url("/img/background.png");
  color: white;
}

h1, h2 {
  font-family: "Bubblegum Sans", cursive;
}

p, label, a, input, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  cursor: pointer;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.3), 0px 15px 30px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  transform: scale(1.05);
}

.home {
  text-align: center;
}
.home h1 {
  margin-top: 20rem;
  font-size: 6rem;
}
.home h2 {
  margin: 5rem;
  font-size: 3.5rem;
}
.home .mode-btns {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.home .btn {
  display: block;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 2rem;
  margin: 1rem;
  font-size: 2rem;
}
.home .c1 {
  background: #0473b9;
}
.home .c2 {
  background: #fe4354;
}
.home .c3 {
  background: #8fe253;
}

.game {
  margin-top: 2rem;
  text-align: center;
}
.game h1 {
  font-size: 3rem;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.4);
}
.game h1 span {
  color: #8fe253;
}
.game h4 {
  font-size: 2rem;
}
.game .total-score, .game .rounds {
  position: absolute;
  top: 0;
  margin: 2.5rem 5rem;
  padding: 1rem 2rem;
  font-size: 2rem;
}
.game .total-score {
  right: 0;
}
.game .rounds {
  left: 0;
}
.game .new-game {
  position: absolute;
  top: 7rem;
  left: 0;
  margin: 2.5rem 9rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  background: #0473b9;
  color: white;
}
.game .reload {
  position: absolute;
  top: 8.5rem;
  left: 25rem;
  border-radius: 1rem;
  font-size: 3.5rem;
}
.game .word {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
}
.game .word h2 {
  font-size: 5rem;
  padding: 2rem;
  margin: 0.5rem;
}
.game .word .missing {
  border-radius: 0.5rem;
  border: dotted 1px black;
  background: rgba(200, 203, 206, 0.5);
}
.game .word .correct {
  border-radius: 0.5rem;
  border: solid 2px green;
  background: palegreen;
  transform: scale(1.25);
  padding: 1rem;
}
.game .letters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1.5rem;
}
.game .letters button {
  font-size: 5rem;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  border: none;
  background: #21d4c5;
}
.game .correct-message {
  width: 50%;
  margin: auto;
  font-size: 3.5rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: palegreen;
  color: green;
}
.game .wrong-message {
  font-size: 3rem;
}
.game .points {
  font-size: 2rem;
  margin: 1rem;
}
.game .next {
  margin: 2rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: white;
  border: 1px white;
  border-radius: 0.5rem;
  background: #0473b9;
}

.end {
  text-align: center;
}
.end .message {
  margin-top: 20rem;
  font-size: 7rem;
}
.end .score {
  font-size: 5rem;
  margin: 2rem;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.3);
}
.end .new-game {
  padding: 1rem 2rem;
  font-size: 2rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: #0473b9;
}/*# sourceMappingURL=index.css.map */